<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>RAP BIBLE</title>
		<link rel="shortcut icon" href="favicon.ico" />
		<link rel="stylesheet" href="font-awesome.min.css" />
		<link rel="stylesheet" href="styles.css" />
	</head>
	<body>
		<h1>RAP BIBLE</h1>

		<h3>CURRENT VERSE DATABASE</h3>
		<ul class="verses">
			<% for(var i = 0; i < verses.length; i++) {%>
				<% let color %>
				<% if(verses[i].fav === true) { %>
					<% color = 'gold' %>
					<% } %>

				<li class="verse" id="<%= verses[i]._id%>">

					<span style="color: <%= color%>"><%= verses[i].vrs %></span>
					<span><%= verses[i].count %></span>
					<span style="visibility: hidden"><%= verses[i].fav %></span>
					<span><%= verses[i]._id%></span>
					<span><i class="fa fa-heart like heart" aria-hidden="true"></i></span>
					<span><i class="fa fa-heart-broken unlike heart" aria-hidden="true"></i></span>
					<span><i class="fa fa-crown" aria-hidden="true"></i></span>
					<span><i class="fa fa-trash" aria-hidden="true"></i></span>
				</li>
			<% } %>
		</ul>

		<h2>Add a verse</h2>

		<form action="/verses" method="POST">
			<input type="text" placeholder="verse" name="vrs" />
			<button type="submit">Submit</button>
		</form>

		<form action="/search" method="GET">
			<input type="text" placeholder="search verses" name="search" />
			<button type="submit">Search</button>
		</form>

		<script src="main.js"></script>
		<script src="https://kit.fontawesome.com/a998559f7d.js" crossorigin="anonymous"></script>
	</body>
</html>
